@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #f1f1f1;
    }
}

body {
    background: var(--foreground);
    color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

#root {
    height: 100vh;
    width: 100%;
    overflow: auto;
}
